/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .vk-meta {  }
 .vk-meta ul li { height: 20px; clear:both; margin: 0 0 15px 0;}
 .vk-meta ul li label { width: 100px; display:block; float:left; padding-top:4px; }
 .vk-meta ul li input { width:125px; display:block; float:left; }
 .vk-meta ul li em { width: 200px; display:block; float:left; color:gray; margin-left:10px; padding-top: 4px}
